/*#listf{background:#E6E6E6;}*/
button {
    background: transparent;
    border: none !important;
}
textarea { 
    border-style: none; 
    border-color: Transparent; 
    overflow: auto;  
    outline: none;	
  }
  
.editor {
    position: relative;
    width: 96%;
    min-height: 98%;
    font: 400 24px/150% "MozTT", "Moz", Sans-serif;
    margin: 1% 0px 0px 1%;
    padding: 0px 5% 2% 0px;
    outline: 0px none;
    overflow: auto;
    border: 0px none;
    word-wrap: break-word;
    -moz-box-sizing: border-box;
}
#mrkd{font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
.forange{color:#E66000;}
.florange{color:#FF9500;}
.fblue{color:#00539F;}
.flblue{color:#0095DD;}
.fbrown{color:#330000;}
.fcharcoal{color:#4D4E53;}
.toolbrcl{color:#000;}

html, body{
        height: 100%;
        margin: 0;
        padding: 0;
        min-height: 100%;
}
#custom-style{
/*
    background-color:#93bce0;
    background-image: none;
    font-size: 1.5em;
    color: white;*/
}

#custom-style > *{
   padding-right:5%;
padding-left:5%;
}

/*iconbutton*/
#custom-style-iconbutton{
	/*width: 100%;*/
	font-size: 1.2em;
	text-align: center;
	text-decoration: none;
	outline: none;
	background-color: #93bce0;
	background-image: none;
	/*position: absolute; *//* to keep .footer on bottom */
	/*bottom: 0px;    *//* to keep .footer on bottom */
}

#custom-style-iconbutton:hover{

}

#custom-style-iconbutton[active]{

}

#custom-style-iconbutton > .x-iconbutton-content{

}

.container{
    position: relative;
    /*min-height: 84%;*/
    /*font: 400 28px/150% Alegreya,Georgia,serif;*/
	margin: 1% 0px 0px 1%;
    padding: 0px 2% 2% 2%;
    outline: 0px none;
    overflow: auto;
}

.endoftheline{
float: right;
display: inline-flex;
}

.hidden{display:none;}
