/*#listf{background:#E6E6E6;}*/
button {
    background: transparent;
    border: none !important;
}
textarea { 
    border-style: none; 
    border-color: Transparent; 
    overflow: auto;  
    outline: none;	
	height:auto;
  }
  
.editor {
    position: relative;
    width: 96%;
    min-height: 96%;
    /*font: 400 24px/150% "MozTT", "Moz", Sans-serif;*/
	font: 300 18px/120% "MozTT", "Moz", Sans-serif;
    margin: 1% 0px 0px 1%;
    padding: 0px 2% 2% 2%;
    outline: 0px none;
    overflow: auto;
    border: 0px none;
    word-wrap: break-word;
    -moz-box-sizing: border-box;
}
#mrkd{font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}

table{width: 100%}
td,#relatednotesside {
    vertical-align: top;
}



@media (max-width: 479px) {
#relatednotesside{display: none;}
#rotatingicon{
   position: absolute;
   top: 150;
   left: 0;
   right: 0;
   z-index: -1;
   overflow: hidden;
}
}

@media (min-width: 480px) {
#relatednotesside{min-width: 200px;width: 30%;}
#relatednotesside > * .isnotDir {background-color: #eee;}
#mrkd{width:70%;}
#list{
    width:70%;
    margin-right: 2%;
    float: left;
}
#searchdiv{	
    width:28%;
    display:block;
    float: left;
}
#rotatingicon{
    position:absolute;
    top:150;
    right:14%;
    z-index:-1;
    overflow:hidden
}
#clearsrchformbtnn{visibility: hidden;}
#searchbtn{display: none;}
}

#about{font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
.forange{color:#E66000;}
.florange{color:#FF9500;}
.fblue{color:#00539F;}
.flblue{color:#0095DD;}
.fbrown{color:#330000;}
.fcharcoal{color:#4D4E53;}
.toolbrcl{color:#000;}

html, body{
        height: 100%;
        margin: 0;
        padding: 0;
        min-height: 100%;
}
#custom-style{
/*
    background-color:#93bce0;
    background-image: none;
    font-size: 1.5em;
    color: white;*/
}

#custom-style > *{
	padding-right:5%;
	padding-left:5%;
	direction: rtl;
	white-space: nowrap;
}

/*iconbutton*/
#custom-style-iconbutton{
	/*width: 100%;*/
	font-size: 1.2em;
	text-align: center;
	text-decoration: none;
	outline: none;
	background-color: #93bce0;
	background-image: none;
	/*position: absolute; *//* to keep .footer on bottom */
	/*bottom: 0px;    *//* to keep .footer on bottom */
}

#custom-style-iconbutton:hover{

}

#custom-style-iconbutton[active]{

}

#custom-style-iconbutton > .x-iconbutton-content{

}

.container{
    position: relative;
    /*min-height: 84%;*/
    /*font: 400 28px/150% Alegreya,Georgia,serif;*/
	margin: 1% 0px 0px 1%;
    padding: 0px 2% 2% 2%;
    outline: 0px none;
    overflow: auto;
}

.endoftheline{
float: right; 
margin-right:2%;
/*position: absolute; right: 3%;font-size:100%;*/
/*float: right;
display: inline-flex;*/
}

.hidden{display:none;}
/*.hidden{height:0;opacity:0;}*/
#installdiv > button{
position:absolute; bottom:0;
  display: block;
    width: 100%;
text-align: center;
    font-size:16px;
	font-family:Arial;
	font-weight:normal;
	padding:9px 18px;
     	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	background:-ms-linear-gradient( top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ededed), color-stop(100%, #dfdfdf) );
	background-color:#ededed;
	color:#777777;  
}

#actionsettings{
position:absolute;bottom:50%;width:100%;
}
#actionsettings > button{

  display: block;
    width: 100%;
text-align: center;
    font-size:16px;
	font-family:Arial;
	font-weight:normal;
	padding:9px 18px;
     	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	background:-ms-linear-gradient( top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ededed), color-stop(100%, #dfdfdf) );
	background-color:#ededed;
	color:#777777;  
}

.isDir{background-color:#EEEEEE;}
.isnotDir{background-color:#FFFFFF;}
.current {background-color:#DDDDDD;}

/* nav */
.nav {
	position: absolute;right: 0;left:0;
    border-style:solid;
	border-color:#000;
	border-width:thin;
	/*position: relative;*/
	margin: 0;
background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	background:-ms-linear-gradient( top, #ededed 5%, #dfdfdf 100% );
	/*-webkit-transition: .125s linear;
    	-moz-transition: .125s linear;
    	-ms-transition: .125s linear;
    	-o-transition: .125s linear;
    	transition: .125s linear;*/
	z-index: 10;
}
.nav ul {
	margin: 0;
	padding: 0;
}
.nav li {
	margin: 0;
	padding: 0.4rem 0.2rem;
	list-style: none;
	display: inline-block;
}
.nav.center ul {
	text-align: center;
}

.nav > ul > li > button {font-family: FontAwesome;font-size:150%;}
#searchdiv{}
.inputbox{ overflow: hidden;}
input[type="search"]{
   position: absolute;width:100%;font-size: 150%;border: none;
   }
/*
   input[type="text"]:invalid + input[type="reset"]{
     display: none;
   } 
  
   input[type="reset"]
   {
	  font-family: FontAwesome;
      border: none;
      background-color: transparent;
      cursor: pointer;
      position: absolute;
	right: 2%;
	font-size: 150%;
   }
      */
   .btnclr{float:left;font-size: 150%;}
   .italicsf{font-style: italic;}

